<!--
This html page handles deletions for budget info
-->
<!DOCTYPE html>
<html>
<head>
<title>Delete regular transaction</title>
</head>
<body>

<h1>Delete regular transaction</h1>
<p>This is a paragraph.</p>

<p>Are you sure you want to delete "{{item}}"?</p>

<form action = "{% url 'CustomHome:deleteRegularTransaction' item.id %}" method = "POST">

  {% csrf_token %}
  <a href = "{% url 'CustomHome:viewRegularTransaction' %}">Cancel</a>
  <input type = "submit" name = "Confirm" value = "Click here to delete">
</form>

<!--
<form action = "" method = "POST">
  {% csrf_token %}
  {{form}}
  <input type = "submit" name = "Submit">
</form>
-->

</body>
</html>
