<!DOCTYPE html>
<html>
<head>
<title>Home Page Title</title>
</head>
<body>
    <h1>This is a Heading</h1>
    <p>This is a paragraph on page home.</p>

    <p> From mongodb query</p>
    {% for result in query_results %}
    <p>{{result}}</p>
    <p>{{result.name}}</p>
    {% endfor %}

    <p> From mysql query involving multiple databases </p>
    {% for row in dict %}
    {{row.0}}
    {{row.1}}
    <p>====</p>
    {% endfor %}

    <p>Hello, {{request.user}}</p>
    <p><a href="{% url 'CustomHome:viewBudgetInfo' %}">Click here to view, insert into, update, and/or delete from budget</a><p>
    <p><a href="{% url 'CustomHome:viewRegularTransaction' %}">Click here to view, insert into, update, and/or delete from regular transactions</a></p>
    <p><a href="{% url 'CustomHome:viewNonregularTransaction' %}">Click here to view, insert into, update, and/or delete from non-regular transactions</a></p>

    <p>some text here. PLEASE ADD LINKS TO OTHER PAGES LIKE INSERT DATA PAGE AND VIEW DATA PAGE ETC HERE.</p>
    <p>THE PAGES SHOULD NOT BE IN THE FINANCE APP.</p>
    <p><a href="{% url 'CustomHome:logout' %}">Click here to logout</a></p>

</body>
</html>
